<nav class="navbar Sidebar">
  <ul class="nav">
    <li class="Sidebar-item Sidebar-item--white <%= 'active' if @tag == 'all' %>">
      <%= link_to "All Courses", root_path, class: "Sidebar-itemLink" %>
    </li>
  </ul>
</nav>
